.dialogs{
    color: floralwhite;
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.active{
    color: gold;
}

.dialogsItem{
    padding: 10px;
}

.messages{
    padding: 10px;
    color: lightskyblue;
}