.app-wrapper{
  margin: 0 auto;
  width: 600px;
  display:grid;

  grid-template-areas:
  "h h"
  "n c";

  grid-template-rows: 60px 1fr;
  grid-template-columns:2fr 10fr;
}

.content{
  grid-area: c;
   background-color: darkred;
}
